/* 
 * Basic elements
 */

body {
    padding-top: 50px;
    background: #ffffff;
    background-attachment:fixed;
    font-family: "Liberation Sans", "Droid Sans", "Ubuntu Sans", Sans;
}

a {
  text-decoration: none;
  color: #A2B548;
}

a:hover {
  text-decoration: underline;
  color: #A2B548;
}

h1 {
  font-family: "DejaVu Sans Condensed", "Droid Sans", Sans, "Trebuchet MS", "Arial", Sans-Serif;
  font-size: 24pt;
  padding: 5px;
  margin: -10px -30px;
  font-weight: 100;
}

h2 {
  font-family: "DejaVu Sans Condensed", "Droid Sans", Sans, "Trebuchet MS", "Arial", Sans-Serif;
  padding: 15px 0px 5px 0px;
  margin: 0px;
  font-size: 18pt;
}

h3 {
  font-family: "DejaVu Sans Condensed", "Droid Sans", Sans, "Trebuchet MS", "Arial", Sans-Serif;
  margin: 0px;
}

pre {
  margin: 0px 0px 0px 10px;
  padding: 0px 0px 0px 10px;
  font-size: 10pt;
  display: inline-block;
  border-left: 1px #cccccc dotted;
  color: #555555;
}

/*
 * Versatile specific elements
 */

div.topbar {
  position: fixed;
  line-height: 50px;
  height: 50px;
  vertical-align: middle;
  padding: 0px 0px 0px 20px;
  background: url('./bar.png');
  border-left: 10px #C2D568 solid;
  border-bottom: 1px #000000 solid;
  top: 0px;
  left: 0px;
  width: 100%;
  color: #ffffff;
  overflow: hidden;
}

span.headerbig {
  font-weight: bold;
  font-size: 12pt;
  margin-right: 10px;
}

span.headersmall {
  font-size: 9pt;
  font-weight: 100;
}

span.navbar {
  display: inline-block;
  float: right;
  margin-right: 50px;
}

a.navbar {
  display: inline-block;
  border-left: 1px #333333 solid;
  border-right: 1px #333333 solid;
  color: #ffffff;
  font-size: 8pt;
  height: 48px;
  padding: 0px 10px;
  margin: 0px 5px;
}

a.navbar:hover {
  text-decoration: none;
  color: #C2D568;
}

a.navbar-sub {
  display: none;
}

div.content {
  font-family: "Liberation Mono", "Ubuntu Mono", "Droid Sans Mono", Monospace, Courier;
  font-size: 10pt;

  margin: 30px;
  padding: 10px 30px;
  white-space: pre;
}
